.headline {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b5e7b5;
    text-align: center;
}

.footer {
  background-color: #e74a3b;
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 15px;
padding-top: 10px;
}

.footer a {    
    color: white;
    text-decoration: underline;
}

.degreeToggle {
    display: inline;
}

.card-header {
    background-color: #686868;
    color: white;
}

.recharts-default-legend {
    position: relative;
    top: 50px;
    font-size: 20px;
}
/* .navbar {
    
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 20px;
} */

/* .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-left: auto;
} */

/* selects all element classNames that include 'headline' inside .contents */
