/* .navi {
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 20px;
} */

.footer {
  background-color: #e74a3b;
  height: 80px;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

.degreeToggle {
    display: inline;
}

/* selects all button elements inside .chart */
/* .chart button {
    background-color: #e74a3b;
} */

.recharts-default-legend {
    position: relative;
    height: 50px;
    top: 40px;
}
