.navi {
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #e74a3b;
    height: 80px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 40px;
}